<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <div class="centeredMain margin">
      <img class="main" src="shuyuntang.jpg" alt="2019 Santa Catalina" height="120" width="80">
      <h3 class="center-text">Shuyun Tang</h3>
      <h5 class="center-text">Data Scientist, Yoyo Player </h5>
        <div class="center-text">
          <a href="https://www.github.com/44shu"><img class="icon" src="public/github.png"/></a>
          <a href="mailto:44shuyun@gmail.com"><img class="icon" src="public/email.png"/></a>
        </div>
        <div class ="res center-text" title="Resume">
          <a href="Shuyun Tang resume 6.6.pdf"><h5>Resume</h5></a>
        </div>
    </div>


    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>
</html>
